###############################################################################
# Offline Package
###############################################################################

*.tar.gz

###############################################################################
# Docker Offline Image
###############################################################################

image-package/

!packages/
!packages/*.tar.gz
